button {
	position: relative;
	overflow: hidden;
}

#more {
	border-color: #c46e72;
}

#more:hover {
	background: #c46e72;
	color: white;
}

#renew {
	border-color: #23d18b;
}

#renew:hover {
	background: #23d18b;
	color:white;
}

#submit {
	border-color: #731dd8;
}

#submit:hover {
	background: #731dd8;
	color: white;
}

.shiny::before {
	content: "helo";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #fff, transparent);
	transition: 0.5s;
}

.shiny:hover::before {
	left: 100%;
}

.grow:hover {
	transition: 0.3s ease;
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
}