.carousel-item {
	height: 50vh;
}

.carousel-caption {
	position: absolute;
	top: 40%;
	width: 100%;
	right: 0;
	left: 0;
}

.carousel-caption h1 {
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.carousel-caption h3 {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.carousel-caption button {
	text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.container .fab {
	font-size: 3rem;
	padding-right: 1.8rem;
}