body {
	min-height: 120vh;
	font-family: 'Grandstander', cursive;
}

.bg-orange {
	background-color: #fa9f42;
}

.bg-lemon {
	background-color: #f7fe72;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}