nav {
    padding-left: 100px;
}

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.nav-item.active {
	text-decoration: underline;
}

/*navbar brand will edit later if having image*/
.navbar-brand img {
	height: 2.8rem;
	width: auto;
}
.navbar li {
	padding-right: 0.7rem;
}
